# Xcode
## User settings
xcuserdata/
*.xcuserdatad/
*.xcuserstate

## Build generated
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

## Crashlytics
crashlytics-build.properties
